<!DOCTYPE html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
        
        <title>{% block title %}{% endblock %} | Sistema de Gestion de Servicio</title>
        {% block stylesheets %}{% endblock %}        
    </head>

    <body id="{% block id '' %}">
        <div id="contenedor">
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}               
            {% block javascripts %}{% endblock %}
        </div>
    </body>

</html>